/*INDEX.HTML*/
.jumbotron {
  background-image: url("img/img_1.jpg");
  background-size: cover;
  height: 100vh;
  color: white;
  margin: 0px 0px 0px 0px;
}


.container_1 {
margin-top: 180px;
}

.container_1 h1{
font-size: 55px;
}

.container_1 h5{
font-weight: 400;

}

#randomizer-btn{
background-color: #6759A3;
border: 0px;
padding: 10px 30px 10px 30px;
border-radius: 50px 50px 50px 50px;
}


/*DESTINATION.HTML*/

#proceed-btn{
background-color: #39C881;
font-size: 14px;
border: 0px;
padding: 10px 15px 10px 15px;
}


.content_area h2{
font-weight: 400;
font-size: 30px;
}

.content_area h3{
color: #747474;
font-weight: 300;
font-size: 20px;
font-style: avenir;
}


.content_area h4{
font-size: 18px;
}

.content_area h5{
font-size: 16px;
color: #747474;
font-weight: 300;
}


.content_area h6{
font-size: 13px;
color: #747474;
font-weight: 300;
}



#info-left {
  border-right: 2px solid #F3F3F3;
}

#info-right{
  text-align: center;
}


.top-left {
  position: absolute;
  top: 0px;
  left: 0px;
}

.bottom-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
}


.row #info-left{
min-width: 200px;
}

/*ACCORDION MENY*/

#accordion .panel {
  border-radius: 0;
  border: 0;
  margin-top: 0px;
}

/*accordion utseende*/
#accordion a {
  display: block;
  padding: 15px 15px;
  border-top: 2px solid #fff;
  text-decoration: none;
  background-color: #F3F3F3;
}

/*accordion hover*/
#accordion .panel-heading a.collapsed:hover,
#accordion .panel-heading a.collapsed:focus {
  background-color: #6759A3;
  color: white;
  transition: all 0.2s ease-in;
}
#accordion .panel-heading a.collapsed:hover::before,
#accordion .panel-heading a.collapsed:focus::before {
  color: white;
}
#accordion .panel-heading {
  padding: 0;
  border-radius: 0px;

}
#accordion .panel-heading a:not(.collapsed) {
  color: white;
  background-color: #6759A3;
  transition: all 0.2s ease-in;
}

/* Add Indicator fontawesome icon to the left */
#accordion .panel-heading .accordion-toggle::before {
  float: left;
  color: white;
  padding-left: 10px;
  font-weight: lighter;
  transform: rotate(0deg);
  transition: all 0.2s ease-in;
}
#accordion .panel-heading .accordion-toggle.collapsed::before {
  color: #444;
  transform: rotate(-135deg);
  transition: all 0.2s ease-in;
}



/*BILD PÅ DESTINATION/HOTELL*/
.container_2 #destination-img{
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 180px;
}


/*MAP*/
#map {
   width: 100%;
   height: 100%;
   padding: 0px;
   background-color: grey;
 }


@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}
.bg-indigo { background: ; }
